@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#050816;
  color:white;
  font-family:sans-serif;
  overflow-x:hidden;
}

body::before{
  content:"";
  position:fixed;
  width:400px;
  height:400px;
  background:#9333ea;
  filter:blur(180px);
  opacity:0.15;
  top:-100px;
  left:-100px;
  z-index:-1;
}

body::after{
  content:"";
  position:fixed;
  width:400px;
  height:400px;
  background:#7e22ce;
  filter:blur(180px);
  opacity:0.15;
  bottom:-100px;
  right:-100px;
  z-index:-1;
}

@keyframes float{

  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-20px);
  }

  100%{
    transform:translateY(0px);
  }

}